      <hr>

      <footer>
        <div class="row content-footer">
          <div class="col-xs-12 col-lg-6 content-footer-left">

            <p><a href="mailto:support@bikeordrive.com" title="Bike or Drive support email">support@bikeordrive.com</a></p>
            <p>Created by <a href="http://matthewmorey.com" title="iOS developer Matthew Morey">Matthew Morey</a> and <a href="http://kaitlenperkins.com/" title="UI and UX designer Kaitlen Perkins">Kaitlen Perkins</a></p>
          </div>
          <div class="col-xs-12 col-lg-6 content-footer-right">
            <a href="https://www.facebook.com/BikeOrDrive" title="Facebook page for Bike or Drive app" class="social-icon-facebook"></a>
            <a href="https://twitter.com/bikeordrive" title="Twitter page for Bike or Drive app" class="social-icon-twitter"></a>
          </div>
        </div>
      </footer>

    </div> <!-- /container -->        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <!-- <script src="js/vendor/bootstrap.min.js"></script> -->
        <!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script> -->

        <script src="/js/plugins.js"></script>
        <!-- <script src="js/main.js"></script> -->

        <script>
            var _gaq=[['_setAccount','UA-44002965-1'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>

    </body>
</html>